
.overlay {
    height: 0%;
    width: 50%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-y: auto;
    transition: 0.5s;
    margin-left: 25%;
    margin-top: 20px;    
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    width: 80%;
    margin: 30px auto;

  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 50px;

  }
  

  #overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
  }
  /**  STYLE cho thanh scroll đẹp hơn ! */
  #myForm::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    border-radius: 4px;
}
#myForm::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 4px;
}
